/*
* @Author: kevinli
* @Date:   2016-09-14 23:19:04
* @Last Modified by:   kevinli
* @Last Modified time: 2016-09-14 23:19:43
*/

// 个人介绍遮罩层
.mask {
    position: relative;
    width: 38%;
    min-width: 630px;
    height: 100%;
    background: linear-gradient(-109deg, transparent 28.5em, #000 0);
    opacity: .3;
}

.intro {
    position: absolute;
    color: #fff;
    left: 35px;
    bottom: 30px;
    p {
        margin-bottom: 5px;
    }
    .msg,
    .text {
        font-size: 14px;
    }
    .copyright {
        font-size: 13px;
    }
}
