/*
* @Author: kevinli
* @Date:   2016-09-14 23:15:58
* @Last Modified by:   kevinli
* @Last Modified time: 2016-09-14 23:16:50
*/

.layer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    height: 60%;
    div {
        position: absolute;
        bottom: 0
    }
    .cover {
        width: 895px;
        left: 50%;
        margin-left: -447px;
        height: 255px;
        top: 0px;
        background: url('http://7xnjvz.com1.z0.glb.clouddn.com/2016091463899clound.png') no-repeat center
    }
}
