$color-000:#000;
$color-fff: #fff;
$color-ccc: #ccc;
$color-cae: #caecb6;
$color-7ab: #7abd54;
$color-333:#333;
$color-666:#666;
$color-888:#888;
$color-999:#999;
$color-e3e: #e3e3e3;
$color-e6e: #e6e6e6;
$color-e43:#e4393c;
$color-f3:#fff3f3;
$color-005:#005ea7;
$color-c81:#c81623;
$color-d4:#d4d4d4;
$color-f5:#F5F5F5;
$color-ff5:#ff5300;

